version: 2
updates:
# rules for the `3.x` branch
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
  commit-message:
    # Prefix all commit messages with "deps: "
    prefix: "deps"
  open-pull-requests-limit: 30
  target-branch: "3.x"
  labels:
    - "3.x dependencies"
  allow:
    # ONLY allow the libraries-bom update
    - dependency-name: "com.google.cloud:libraries-bom"

- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
  commit-message:
    # Prefix all commit messages with "deps: "
    prefix: "deps"
  open-pull-requests-limit: 30
  target-branch: "5.x"
  labels:
    - "5.x dependencies"
  allow:
    # ONLY allow the libraries-bom update
    - dependency-name: "com.google.cloud:libraries-bom"

- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
  commit-message:
    # Prefix all commit messages with "deps: "
    prefix: "deps"
  open-pull-requests-limit: 30
  target-branch: "6.x"
  labels:
    - "6.x dependencies"
  allow:
    # ONLY allow the libraries-bom update
    - dependency-name: "com.google.cloud:libraries-bom"
